.main-background{
    background-color: rgb(157, 149, 135);
}
.hat{
    width: 100%;
    height: 70px;
    background-color: black;
    opacity: 85%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.hat .hat_button:not(:last-child){
    border-right: none;
}

.hat_button{
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: -15px;
    border: none;
    background: none;
    font-size: 19px;
    color: white;
}
.hat_button:hover{
    background-color: rgb(43, 38, 38);
}

#desc_button{
    color: yellow;
}

.desk-segment{
    background-color: rgb(233, 219, 194);
    height: 1000px;
}

.desk-segment_photo-galery{
    float: right;
    width: 450px;
    height: 630px;
    margin-right: 115px;
    margin-top: 30px;
}

.desk-segment_photo-galery_photo{
    width: 450px;
    height: 630px;
    float: right;
}

.bio-text{
    width: 75%;
    height: 660px;
}
.bio-text-name, .bio-text-short{
    text-align: center;
    font-size: 40px;
}

.bio-text-name{
    padding-top: 250px;
}

.bio-text-full{
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    width: 65%;
}
.bio-text-full_text{
    text-align: center;
    font-size: 35px;
}

.projects-segment{
    margin-top: 50px;
    background-color: rgb(233, 213, 194);
    height: 1000px;
}

.contacts-segment{
    margin-top: 50px;
    background-color: rgb(212, 233, 194);
    height: 1000px;
}

.contacts-title{
    font-size: 45px;
    text-align: center;
    padding-top: 45px;
}

.telegram-ram{
    background-color: none;
    height: 300px;
    width: 350px;
    border-color: rgb(131, 186, 237);
    border-style: solid;
}

.telegram-link{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
